<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center" color="light">Introducción a la prevención de la violencia</ion-title>
  </ion-toolbar>
</ion-header>

<img src="../../../assets/Guía Gozosa - Banner Micrositio.png" alt="">


<ion-content class="ion-padding">
  <ion-grid fixed>
    
    <ion-row class="ion-text-center">
      <ion-col size="12">
        <h2><strong>OCTAVA SECCIÓN: PREVENCIÓN DE LA VIOLENCIA</strong></h2>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-justify">
      <ion-col size="12">
        <p>El violentometro es una herramienta para medir y visualizar los diferentes niveles de violencia en las relaciones 
          interpersonales, especialmente en relaciones de pareja. Su propósito es ayudar a las personas a identificar 
          comportamientos violentos que a menudo son normalizados o minimizados, y a tomar conciencia de la gravedad de ciertas 
          acciones que pueden escalar en agresiones más graves.
        </p>
      </ion-col>
    </ion-row>

    <ion-row class="imgContainer">
      <ion-col size="6">
        <img src="../../../assets/Defensora 03.png" alt="">
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-justify">
      <ion-col size="12">
        <p>Te invitamos a registrarte para realizar el test y poder almacenar tus datos, así como consultar la información
           que tenemos disponible acerca de la violencia feminicida en Oaxaca directamente en <a href="https://www.gesmujer.org/sitio/monitoreo-de-violencia-feminicida-en-oaxaca/">nuestra página de internet</a></p>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button class="custom-button" (click)="closeModal()" expand="block" fill="clear" shape="round">
          <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon>
          Realizar el test
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<img src="../../../assets/Defensora 05.png" alt="">
