<app-header titulo = "Prevención de la violencia"></app-header>

<ion-content class="ion-text-justify ion-padding" >
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <img src="assets/Paso5.png" alt="">
            </ion-col>

            <ion-col size="12">
                <ion-label>La Violencia Feminicida: Es la forma extrema de violencia de género contra las mujeres, 
                    producto de la violación de sus derechos humanos, en los ámbitos público y privado, conformada por el conjunto de
                     conductas misóginas que pueden conllevar impunidad social y del Estado y puede culminar en homicidio y 
                     otras formas de muerte violenta de mujeres.
                </ion-label>
            </ion-col>

            <ion-col size="12">
                <ion-label>Una vez realizado el test te recomendamos visitar la guía <a (click)="abrirRecursos()">"Mujeres de corazón violeta"</a> en nuestra página de recursos
                para obtener más información sobre las medidas que debes tomar según tu situación</ion-label>
            </ion-col>

            <ion-col size="12">
                <ion-button expand="in-block" shape="round" color="secondary" (click)="abrirTest()">
                    <ion-label color="light">Realizar test</ion-label>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<img src="../../../assets/Defensora 05.png" alt="">
