<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center" color="light">Introducción al Kit de Seguridad Digital</ion-title>
  </ion-toolbar>
</ion-header>

<img src="../../../assets/Guía Gozosa - Banner Micrositio.png" alt="">


<ion-content class="ion-padding">
  <ion-grid fixed>

    <ion-row class="ion-text-center">
      <ion-col size="12">
        <h2><strong>SEXTA SECCIÓN: BOTIQUÍN DE AUTOCUIDADO</strong></h2>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-justify">
      <ion-col size="12">
        <p>En GESMujer,  a través de sesiones colectivas hemos ido conociendo y descubriendo herramientas y técnicas 
          que nos han beneficiado mucho, en todos los ámbitos tanto a nivel personal de autocuidado como en el cuidado colectivo, 
          hemos aprendido a conectar con nuestras emociones, nuestros sentidos, nuestro cuerpo, espiritualidad con nuestros placeres, 
          para lograr nuestra sanación, por ello aquí te compartimos nuestro botiquín de autocuidado y cuidado colectivo. 
          ¡Que lo disfrutes!
        </p>
      </ion-col>
    </ion-row>

    <ion-row class="imgContainer">
      <ion-col size="6">
        <img src="../../../assets/FeminismoCorazónVioleta.png" alt="">
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-justify">
      <ion-col size="12">
        <p>Te invitamos a hacer uso libre de todas las herramientas proporcionadas en el botiquín, así como a descargar los formatos
          de cada una de las herramientas para que puedas imprimirlas y compartirlas con tus amigas y familiares. ¡Que lo disfrutes!
          <a (click)="abrirRecursos()">Ver recursos</a>
        </p>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button class="custom-button" (click)="closeModal()" expand="block" fill="clear" shape="round">
          <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon>
          Continuar con el kit
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<img src="../../../assets/Defensora 06.png" alt="">
