.cards{
    border-radius: 20px !important;
    box-shadow: -4px -4px 20px rgba(0,0,0,.2);
}

.titulo{
    font-size: 14px;
}

.img{
    max-width: 200px !important;
    max-height: 200px !important;
}

p{
    font-size: 18px;
}
.custom-button {
    --padding-start: 20px;
    --padding-end: 20px;
    --background: linear-gradient(to right, #8e3a8d, #b96cae);
    --color: #fff;
    --border-radius: 50px;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: bold;
}