<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center" color="light">Presentación de recursos adicionales</ion-title>
  </ion-toolbar>
</ion-header>

<img src="../../../assets/Guía Gozosa - Banner Micrositio.png" alt="">


<ion-content class="ion-padding">
  <ion-grid fixed>

    <ion-row class="ion-text-center">
      <ion-col size="12">
        <h2><strong>SECCIÓN DE RECURSOS</strong></h2>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-justify">
      <ion-col size="12">
        <p>En esta sección encontrarás recursos adicionales, como PDFs, enlaces y documentación que puede ayudarte en tu proceso 
          de autocuidado y aprendizaje sobre la violencia.
        </p>
      </ion-col>
    </ion-row>

    <ion-row class="imgContainer">
      <ion-col size="6">
        <img src="../../../assets/Defensora 03.png" alt="">
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-justify">
      <ion-col size="12">
        <p>Te invitamos a descargar toda la información que hemos preparado para tí, así como a realizar todas las actividades que 
          se presentan en las diferentes secciones de la aplicación
        </p>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button class="custom-button" (click)="closeModal()" expand="block" fill="clear" shape="round">
          <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon>
          Ver recursos
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
<img src="../../../assets/Defensora 05.png" alt="">
