<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center" color="light">Introducción al Kit de Seguridad Digital</ion-title>
  </ion-toolbar>
</ion-header>

<img src="../../../assets/Guía Gozosa - Banner Micrositio.png" alt="">


<ion-content class="ion-padding">
  <ion-grid fixed>


    <ion-row class="ion-text-center">
      <ion-col size="12">
        <h2><strong>CUARTA SECCIÓN: KIT DE SEGURIDAD DIGITAL</strong></h2>
      </ion-col>
    </ion-row>


    <ion-row class="ion-text-justify">
      <ion-col size="12">
        <p>Las herramientas que contiene el Kit de seguridad digital, fueron co-creadas por defensoras de los derechos humanos de diferentes
          organizaciones y colectivas a través de sesiones de talleres dentro y fuera de GESMujer.
        </p>
      </ion-col>
    </ion-row>

    <ion-row class="imgContainer">
      <ion-col size="6">
        <img src="../../../assets/Defensora 03.png" alt="">
      </ion-col>
    </ion-row>


    <ion-row class="ion-text-justify">
      <ion-col size="12">
        <p>Te invitamos a leer el kit completo en el apartado de <a (click)="abrirRecursos()">recursos</a> o directamente en nuestra página de internet</p>
      </ion-col>
    </ion-row>

    <ion-row class="imgContainer">
      <ion-col size="6">
        <img src="../../../assets/Paso9.png" alt="">
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button class="custom-button" (click)="closeModal()" expand="block" fill="clear" shape="round">
          <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon>
          Continuar con el kit
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<img src="../../../assets/Defensora 05.png" alt="">
