<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center" color="light">Introducción a la comunicación asertiva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid fixed>


    <ion-row class="ion-text-center">
      <ion-col size="12">
        <h2><strong>SEPTIMA SECCIÓN: COMUNICACIÓN ASERTIVA</strong></h2>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-justify">
      <ion-col size="12">
        <p>No hay una razón única que explique por sí sola por qué nos cuesta tanto decir
          lo que sentimos, sin embargo hemos crecido en un sistema donde a las
          mujeres nos educan a no expresar sentimientos de enojo o de frustración.
          Tener identificado el sentimiento y la necesidad es hablar desde mi sentir</p>
      </ion-col>
    </ion-row>

    <ion-row class="imgContainer">
      <ion-col size="6" class="ion-align-items-center">
        <img src="../../../assets/Defensora 04.png" alt="">
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-justify">
      <ion-col size="12">
        <p>Te invitamos practicar la comunicación asertiva en todos los aspectos de tu vida, así como a leer la 
          ficha completa sobre este tema en la sección de <a (click)="abrirRecursos()"> recursos</a>
        </p>
      </ion-col>
    </ion-row>

    <ion-row class="imgContainer">
      <ion-col size="6" class="ion-align-items-center">
        <img src="../../../assets/Defensora 07.png" alt="">
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button class="custom-button" (click)="closeModal()" expand="block" fill="clear" shape="round">
          <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon>
          Mejorar mi comunicación.
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<img src="../../../assets/Defensora 05.png" alt="">
