.logo{
    width: 50% !important;
    height: 50% !important;
    margin: auto !important;
    padding: auto !important;
}
.button{
    margin-bottom: 10px !important;
}

.whiteInput{
    color: white !important;
    background-color: transparent !important;
    border: none;
    padding: 50px;
}

.divisor{
    height: 80px;
}