<app-header titulo="kit de sanación"></app-header>

<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <h1 class="titulo">Técnicas para afrontar los pensamientos catastróficos, fatalistas y discortantes. </h1><br>
                <img src="../../../assets/Paso4.png" />
                <p class="ion-text-justify ion-padding">
                    <em>Las herramientas diarias nos permiten crear espacios, ser conscientes de nuestras elecciones y generar cambios positivos en vida y bienestar.</em>
                <br><br><strong>Estas son algunas técnicas que te compartimos:</strong>
                </p>
                <h1 class="titulo2"><strong>1</strong> "DISIPAR BARRERAS MENTALES"<br><em class="titulo3"> &reg; Access Consciousness</em> </h1>
                <p class="ion-text-justify ion-padding">
                    Para este ejercicio nos centraremos en las barreras personales, que están relacionadas con las  actitudes, estado de ánimo, percepciones que son pensamientos que nos limitan.
                </p>
                <p class="custom-list ion-padding">
                    <span class="bullet">●</span> Realizar respiraciones profundas. <br>
                    <span class="bullet">●</span> En voz alta decir, <strong>cuerpo baja y disipa tus barreras</strong> (tres veces).<br>
                    <span class="bullet">●</span> En voz alta decir, <strong>cuerpo expándete </strong> (tres veces). <br>
                    <span class="bullet">●</span> Soltar los pensamientos que están limitando y si regresan a la mente en algún momento, repetir mentalmente: <strong> bajo barreras, bajo barreras, bajo barreras. </strong>
                </p>
                <p class="ion-text-justify ion-padding">
                    Ser consiente que cuando empiezas a resistir algo 
                    o a alguien, te encuentras emitiendo juicio sobre 
                    esa persona. <em><strong>¡baja barreras!</strong> . </em>
                    </p>
                    <p class="ion-text-center">
                    ︵‿︵‿︵‿︵
                    </p> <br>

                    <h1 class="titulo2"><strong>2  </strong> "FRASES PARA CAMBIAR EL PENSAMIENTO EN EL MOMENTO"<br><em class="titulo3"> &reg; Access Consciousness</em> </h1>
                    <div class="centered-image">
                        <img src="../../../assets/TA02.png" alt="Imagen centrada" style="display: inline-block;">
                    </div>
                        <p class="ion-text-justify ion-padding">
                            Tener a la mano frases y preguntas sin respuesta que abran las posibilidades, es una herramienta 
                            que ayuda a disipar los pensamientos que nos están robando la tranquilidad y a tener más espacio 
                            para crear y elegir de manera consiente. <br>
                        <br><strong>Aquí algunos ejemplos: </strong>
                        </p>
                    <p class="custom-list ion-padding">
                        <span class="custom-bullet">●</span> “Universo, muéstrame algo hermoso hoy” <br>
                        <span class="custom-bullet">●</span> “Si realmente estuviera creando mi vida hoy, ¿qué elegiría inmediatamente?.<br>
                        <span class="custom-bullet">●</span> ¿Cómo puede mejorar esto?” cuando algo “bueno” pase y también cuando algo “malo” pase. <br>
                        <span class="custom-bullet">●</span> ¿A quién le pertenece esto?” El 98% de nuestros pensamientos, sentimientos y emociones de nuestra cabeza ni siquiera son nuestros.<br>
                        <span class="custom-bullet">●</span> Todos los juicios que está trayendo esto los destruyo y los descreo.<br>
                        <span class="custom-bullet">●</span> Todas las percepciones que está trayendo esto lo destruyo y descreo.<br>
                        <span class="custom-bullet">●</span> Todos los puntos de vista que está trayendo esto los destruyo y descreo<br>
                    </p>
                    <p class="ion-text-center">
                        ︵‿︵‿︵‿︵
                        </p> <br>


                    <h1 class="titulo2"><strong>3  </strong> "BENDECIR TU VIDA, TU ENTORNO, TU SER"<br><em class="titulo3"> &reg; Access Consciousness</em> </h1>
                    <p class="ion-text-justify ion-padding">
                        Según el Diccionario de la Real Academia Española, "bendecir" se define como alabar, engrandecer o ensalzar a alguien; colmar de bienes a alguien o hacer que prospere; e invocar la bendición divina en favor de alguien o algo. <br><br>
                        Desde la metafísica el Poder de la Bendición: Cuando tu bendices, estás reconociendo la belleza omnipresente, oculta a los ojos materiales, estas activando a tu favor la gran ley de atracción creando el tirón magnético que te traerá todo lo bueno que anhelas para los demás al bendecirlos. (Cony Méndez) 
                    </p>
                    <p class="ion-text-center">
                        ︵‿︵‿︵‿︵
                        </p> <br>

                    <h1 class="titulo2"><strong>3.1  </strong> "BENDECIR TU VIDA, TU ENTORNO, TU SER"<br> </h1>
                    <p class="ion-text-justify ion-padding"><strong>Tu nombre es importante, es la forma en que nos identificamos, bendecirlo abre puertas, abre 
                        caminos y posibilidades </strong></p>
                        <p class="custom-list ion-padding">
                            <span class="custom-bullet">●</span> Mi nombre en esta vida es: (dices tu nombre) y <strong> bendigo, lo envuelvo de luz y lo lleno de fuerza. </strong><br>
                            <span class="custom-bullet">●</span> Mi nombre (dices tu nombre) <strong> abre puertas, caminos y siempre es exitoso.</strong> <br>
                            <span class="custom-bullet">●</span> Bendigo mis antepasadas y mi ascendencia en el poder de mi nombre (dices tu nombre)<br>
                            <span class="custom-bullet">●</span> Mi nombre (dices tu nombre) <strong>es mi mantra, marca y triunfo.</strong><br>
                            <span class="custom-bullet">●</span> Mi nombre (dices tu nombre) <strong>es gratitud, energía, magia.</strong><br>
                            </p>
                            <p class="ion-text-center">
                                ︵‿︵‿︵‿︵
                                </p> <br>

                            <h1 class="titulo2"><strong>3.2  </strong> "BENDÍCETE"<br> </h1>
                            <img src="../../../assets/Paso13.png" alt="Imagen centrada" style="display: inline-block;">
                            <p class="ion-text-justify ion-padding">
                                El poder que habita en ti porque cada ser es una existe una extensión 
                                de la divinidad, cuando te bendices, se produce una alquimia de luz 
                                y no hay oscuridad que se sostenga.
                            </p>
                            <p class="ion-padding">
                                <em>
                                Bendigo mi existencia, <br>
                                bendigo mi trabajo,  <br>
                                bendigo mi casa,  <br>
                                bendigo mis finanzas,  <br>
                                bendigo mi camino,  <br>
                                bendigo mi aprendizaje,  <br>
                                bendigo mi salud,  <br>
                                me bendigo de todas las formas posibles. <br>
                                bendigo mi entorno,  <br>
                            </em></p>
                            <p class="ion-text-center">
                                ︵‿︵‿︵‿︵
                                </p> <br>

                                <h1 class="titulo2"><strong>4  </strong> "TAPPING"<br> </h1>
                                <p class="ion-text-justify ion-padding">
                                    El tapping o EFT es una tecnica que combina acupuntura y psicología, dando golpecitos en puntos específicos del cuerpo mientras se repiten <strong> afirmaciones positivas para aliviar problemas emocionales y físicos. </strong>
                                <br><br> <em> Te compartimos dos sencillos pasos para ponerlo en práctica: </em>
                                </p>
                                <div class="content">
                                    <ol class="styled-list">
                                        <li>Formular el problema con una frase sencilla y comprensible.</li>
                                        <p class="ion-padding">Por ejemplo, si no tienes dinero, puedes decir: «no tengo ni un peso». Si te duele la espalda: «me duele la espalda».</p>
                                        <li>Mientras se pronuncia en voz alta la frase que se ha elegido, 
                                            hay que golpear suavemente una serie de puntos del cuerpo 
                                            que ahora te indicaré.</li>
                                    </ol>
                                </div>

                                <div>
                                    <p class="ion-text-justify ion-padding">
                                        <span class="custom-bullet">●</span> Primero en golpearse el punto 0 (cero) mientras se dice en voz alta la frase “aunque ___________, me acepto totalmente”
                                    </p>
                                    <img src="../../../assets/TA05.png" alt="Puntos en la mano" style=" display: inline-block; max-width: 70%; max-height: 70%;">
                                    <p class="ion-text-justify ion-padding">
                                        <span class="custom-bullet">●</span> A partir de aquí se utiliza solo la frase del 
                                        problema (“me duele el brazo”, “tengo miedo 
                                        a las alturas”, etc.). Mientras pronuncias la 
                                        frase en voz alta, golpea suavemente.
                                    </p>
                                </div>
                                <p class="ion-text-center">
                                    ︵‿︵‿︵‿︵
                                    </p> <br>


                                <h1 class="titulo2"><strong>Fuentes de consulta</strong>  </h1>
                                <p class="ion-text-justify ion-padding">
                                    <span class="custom-bullet">●</span> <a href="https://www.facebook.com/groups/145991829329185/posts/476631052931926/" target="_blank">¿Qué significa bajar barreras en Access?</a>  <br> <br>
                                    <span class="custom-bullet">●</span> <a href="https://spa.accessconsciousness.eu/843-2/" target="_blank">4 prácticas diarias para cambiar tu vida.</a> Access Blog en español,2016 página web. <br> <br>
                                    <span class="custom-bullet">●</span> <a href="https://www.rae.es/tdhle/bendecir" target="_blank">Tesoro de los diccionarios históricos de la lengua española</a> Real Academia Española, Bendecir página web.  <br><br>
                                    <span class="custom-bullet">●</span> <a href="https://www.infomistico.com/portal/poder-bendicion-conny-mendez/" target="_blank">El Gran Poder de la Bendición.</a> Conny Mendez, página web: 29 julio 2015 / Autoayuda <br> <br>
                                    Este material es una recopilación del Grupo de estudios sobre la mujer Rosario Castellanos para su programa de Autocuidado para defensora de Derechos Humanos. <br> Se autoriza la reproducción parcial o total de esta publicación siempre y cuando sean <strong> sin fines de lucro y se cite la fuente. </strong>
                                </p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
