<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center" color="light">Introducción al Kit de sanación</ion-title>
  </ion-toolbar>
</ion-header>

<img src="../../../assets/Guía Gozosa - Banner Micrositio.png" alt="">


<ion-content class="ion-padding">
  <ion-grid fixed>

    <ion-row class="ion-text-center">
      <ion-col size="12">
        <h2><strong>QUINTA SECCIÓN: KIT DE SANACIÓN</strong></h2>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-justify">
      <ion-col size="12">
        <p>Te compartimos aquí la lista de aceites y esencias, que seguro te ayudarán a los procesos de autocuidado.
        </p>
      </ion-col>
    </ion-row>

    <ion-row class="imgContainer">
      <ion-col size="6">
        <img src="../../../assets/Defensora2.png" alt="">
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-justify">
      <ion-col size="12">
        <p>Te invitamos a consultar la lista completa de esencias que existen para tu cuidado a través de nuestra 
          <a href="https://www.gesmujer.org/sitio/aceites-y-esencias-de-autocuidado/">página de internet</a></p>
      </ion-col>
    </ion-row>

    <ion-row class="imgContainer">
      <ion-col size="6">
        <img src="../../../assets/Defensora 03.png" alt="">
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button class="custom-button" (click)="closeModal()" expand="block" fill="clear" shape="round">
          <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon>
          Continuar con el kit
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<img src="../../../assets/Defensora 05.png" alt="">
