<app-header titulo = "Comunicación asertiva"></app-header>

<ion-content class="ion-padding">

    <div style="text-align: center;">
        <h4><em>Pasos para expresar lo que siento y necesito</em></h4>
    </div>
    <br><br>
    

    <div class="card">
        <div class="card__content">
            <div class="card__content-heading">
            <h2>Persona que emite el mensaje</h2>
            <br><br>
            </div>
            <div class="card__content-body">
                <div class="notification">
                    <div class="notititle">Decir el hecho concreto: Cuando tu: "describes la acción que quieres abordar"</div>
                </div><br>
                <div class="notification">
                    <div class="notititle">Explicas tu sentir: Yo me siento: "expresas la emoción</div>
                </div><br>
                <div class="notification">
                    <div class="notititle">Hablas de tu necesidad: Yo necesito: "describes lo que necesitas"</div>
                </div><br>
                <div class="notification">
                    <div class="notititle">Haz una propuesta que permita mejorar tu sentir: Propongo que: "explicas
                        con claridad qué propones"</div>
                </div><br>
                <div class="notification">
                    <div class="notititle">Haz un compromiso que sea real: Por mi lado yo me comprometo a: "explicas
                        el compromiso."</div>
                </div><br>
            </div>
            <div class="card__content-footer">
                    
            </div>
        </div>
        </div><br>
        <div class="card">
            <div class="card__content">
                <div class="card__content-heading">
                <h2>Persona que recibe el mensaje</h2>
                <br><br>
                <p>Sugerencias de pistas de respuesta por parte de quien recibe el mensaje.</p>
                </div><br>
                <div class="card__content-body">
                    <div class="notification">
                        <div class="notititle"> Yo escucho que tu necesidad es: explicas lo que entendiste después de expresar 
                            lo que siente y necesita.</div>
                    </div><br>
                    <div class="notification">
                        <div class="notititle"> Preguntas para corroborar que entendiste lo que quería expresar: ¿Es así? 
                            ¿Escuché bien tu necesidad?</div>
                    </div><br>
                    <div class="notification">
                        <div class="notititle"> Tratar de llegar a un acuerdo o aclarar el mal entendido</div>
                    </div><br>
                </div>
                <div class="card__content-footer">
                
                </div>
            </div>
            </div>

</ion-content>