<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center" color="light">Introducción a metodología</ion-title>
  </ion-toolbar>
</ion-header>

<img src="../../../assets/Guía Gozosa - Banner Micrositio.png" alt="">


<ion-content class="ion-padding custom-content">
  <ion-grid fixed>

    <ion-row class="ion-text-center">
      <ion-col size="12">
        <h2><strong>SEGUNDA SECCIÓN: METODOLOGÍA DE AUTOCUIDADO</strong></h2>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <p class="custom-text">
          La metodología construida consta de 13 pasos, dentro de cada uno de
          ellos se encuentra una tarjeta con instrucciones y herramientas para
          darte guía y soporte al ser aplicadas en el trabajo con tu
          colectiva, con la finalidad de poder ir desarrollando los pasos y
          dando respuesta a las preguntas formuladas, puedes enriquecer o hacer
          ajustes como mejor consideres. ¡Que lo disfrutes tanto como nosotras!
        </p>
      </ion-col>
    </ion-row>

    <ion-row class="imgContainer">
      <ion-col size="6" class="ion-align-items-center">
        <img src="../../../assets/FloresCorazónVioleta.png" alt="">
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-justify">
      <ion-col size="12">
          <p>Te invitamos a realizar las actividades que aparecen en la metodología para mejorar tus hábitos de autocuidado.</p>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button class="custom-button" (click)="closeModal()" expand="block" fill="clear" shape="round">
          <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon>
          Aprender la metodología
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<img src="../../../assets/Defensora 05.png" alt="">

