<!--<ion-header>
  <ion-toolbar>
    <ion-title>Alarmas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="full" (click)="probarAlarma()">Probar Alarma</ion-button>
  <ion-button expand="full" color="secondary" (click)="programarNotificacion()">Programar Notificación de Prueba</ion-button>
</ion-content>
-->

<ion-header>
  <ion-toolbar>
    <ion-title>Alarmas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Selector de hora -->
  <ion-item>
    <ion-label>Selecciona hora</ion-label>
    <ion-datetime
      presentation="time"
      [(ngModel)]="horaSeleccionada">
    </ion-datetime>
  </ion-item>

  <!-- Selector de días -->
  <ion-list>
   <ion-item>
  <ion-label>Lunes</ion-label>
  <ion-checkbox slot="end" (ionChange)="toggleDia(1)" [checked]="diasSeleccionados.includes(1)"></ion-checkbox>
</ion-item>

<ion-item>
  <ion-label>Martes</ion-label>
  <ion-checkbox slot="end" (ionChange)="toggleDia(2)" [checked]="diasSeleccionados.includes(2)"></ion-checkbox>
</ion-item>

<ion-item>
  <ion-label>Miércoles</ion-label>
  <ion-checkbox slot="end" (ionChange)="toggleDia(3)" [checked]="diasSeleccionados.includes(3)"></ion-checkbox>
</ion-item>
  
   <ion-item>
  <ion-label>Jueves</ion-label>
  <ion-checkbox slot="end" (ionChange)="toggleDia(4)" [checked]="diasSeleccionados.includes(4)"></ion-checkbox>
</ion-item>

<ion-item>
  <ion-label>Viernes</ion-label>
  <ion-checkbox slot="end" (ionChange)="toggleDia(5)" [checked]="diasSeleccionados.includes(5)"></ion-checkbox>
</ion-item>

<ion-item>
  <ion-label>Sabado</ion-label>
  <ion-checkbox slot="end" (ionChange)="toggleDia(6)" [checked]="diasSeleccionados.includes(6)"></ion-checkbox>
</ion-item>
 

  <ion-item>
  <ion-label>Domingo</ion-label>
  <ion-checkbox slot="end" (ionChange)="toggleDia(7)" [checked]="diasSeleccionados.includes(7)"></ion-checkbox>
</ion-item>
  </ion-list>

  <!-- Botón para guardar alarma -->
  <ion-button expand="full" (click)="agregarAlarma()">Agregar alarma</ion-button>

  <ion-list>
    <ion-item *ngFor="let alarma of alarmas">
      <ion-label>
        {{ alarma.hora }} <br>
        Días: {{ alarma.dias.join(', ') }}
      </ion-label>
      <ion-toggle [checked]="alarma.activa" (ionChange)="toggleAlarma(alarma)"></ion-toggle>
    </ion-item>
  </ion-list>

</ion-content>
